<%-include('./partials/header.ejs') %>
<body>
  <%-include('./partials/navbar.ejs') %>
  <div class="container">
    <div class="card">
<div class="class-header"><h1>Bem vindo a outro arquivo html</h1></div>

</div>

</body>
<%-include('./partials/footer.ejs') %>
